[user]
	email = k335283.yukako@gmail.com
	name = yucatty

[alias]
	s = status
	co = checkout
	br = branch
	r = reset
	lo = log --oneline
	rl = reflog
	
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	insteadOf = https://github.com/

[ghq]
root = ~/hobby

[ghq "https://github.com/eure"]
root = ~/work

